body, button, ::placeholder, input, select, .card, form.user .form-control-user, form.user .btn-user {
    letter-spacing: -0.75px;
    font-weight: 600;
    border-radius: 10px;
}

.bg-gradient-primary {
    background-color: #28a745;
    background-image: linear-gradient(180deg, #1f925a 10%, #1cc845 100%);
    background-size: cover;
}


.sidebar .nav-item .nav-link, form.user .form-control-user, form.user .form-control-user, form.user .btn-user {
    font-size: 0.9rem;
}

.btn-primary {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.btn-info {
    background-color: #8e9d9b;
    border-color: #8e9d9b;
}

.btn-info:hover {
    background-color: #bcc3c2;
    border-color: #bcc3c2;
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #28a76a 10%, #30b23b 100%);
    z-index: -1;
    transition: opacity 0.3s ease , transform 0.3s ease;
}

.btn-primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-90deg, #1ed987 10%, #b5c07d 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn-primary:hover {
    border-color: #424010;
    transform: scale(1.015); 
}

.btn-primary:hover::before {
    opacity: 0;
}

.btn-primary:hover::after {
    opacity: 1;
}

.card {
    height: auto;
    max-width: 1500px;
    margin: auto;
}

.profile{
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.profile:hover {
    transform: rotateY(180deg);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 500px;
}

.form-control-user {
    height: 3.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.35rem;
}

.btn-user {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.35rem;
}

.profile-pic-container {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.alert-info {
    --bs-alert-color: #802219;
    --bs-alert-bg: #f5d7d7;
    --bs-alert-border-color: #e5b8b8;
}

.bs-icon.bs-icon-primary-light {
    color: #11540e
}

a {
    color: #0b852a; 
}

a:hover {
    color: #44c294; 
}

a:visited {
    color: #7c7d6c; 
}